#border{
    background-color: rgba(129, 185, 238, 0.863);
    border-radius: 30px;
    box-shadow: 10px 10px 10px grey;
    border: solid 1px white;


}

button{
    background-color: rgba(129, 185, 238, 0.863);

}
p{
    font-weight: bold;
}