#border{
    background-color: rgba(129, 158, 238, 0.863);
    border-radius: 30px;
    box-shadow: 10px 10px 5px lightblue;


}
input{
    background-color: rgba(6, 143, 207, 0.658);
}
button{
    background-color: rgba(6, 143, 207, 0.658);

}
p{
    font-weight: bold;
}