*{
  font-family: Verdana;
}

#nav{
    width: 50px;
}

.btns{
  background-color: rgb(60, 118, 224);
    border-top:solid 8px rgb(109, 163, 224) ;

    border-bottom:solid 8px rgb(57, 57, 211) ;
    border-left:solid 8px rgb(72, 72, 219) ;
    border-right:solid 8px rgb(40, 40, 185) ;
}

.nav-link:link, .nav-link:visited {
    text-align: center;
    text-decoration: none;
    display: inline-block;
     background-color: rgb(60, 118, 224);
    border-top:solid 8px rgb(109, 163, 224) ;

    border-bottom:solid 8px rgb(57, 57, 211) ;
    border-left:solid 8px rgb(72, 72, 219) ;
    border-right:solid 8px rgb(40, 40, 185) ;
    margin-bottom: 10px;
    width: 200px;
    
  }
  
  .nav-link:hover, .nav-link:active {
    background-color: rgb(241, 241, 166);
    border-top:solid 8px rgb(200, 207, 98) ;

    border-bottom:solid 8px rgb(195, 211, 57) ;
    border-left:solid 8px rgb(217, 219, 72) ;
    border-right:solid 8px rgb(182, 185, 40) ;
  }

  #img{
      width: 100vh;
      height: 30%;
      
  }
  #accueil{
      background-color: #BDD7EE;
  }
.p{ 
    color: #88bce9;
}
  #logo{
      width: 100px;
  }

  #footer{

    background-color: #BDD7EE;

  }

  #bleu{

    background-color: rgb(80, 129, 204);
}

#bg{
  background-image: url('img/LOGOtransparent.png');
  background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 500px;
  }

  #bgcontact{
    background-image: url('img/LOGOtransparent.png');
    background-position: center center;
      background-size: 40%;
      background-repeat: no-repeat;
    }
 #menu{
   font-size: xx-large;
   color: rgb(84, 141, 226);
 }

 label{
   font-weight: bold;
 }

 i.fa-solid.fa-asterisk{
font-weight: 500;
 }
 i.fa-solid.fa-circle{
   color: rgb(12, 165, 127);
   font-size: 1.7em;
   opacity: 0.5;
   margin-right: -15px;
 }
 .b{
   font-weight: 2000;
 }
 .suivi{
   background-color: rgb(212, 207, 207);
 }
 #state{
  background-color: rgb(236, 240, 239);
  border-radius: 30px 0px 0px 30px; 
  height: 20px;

 }
 .state{
  background-color: rgb(236, 240, 239);
  height: 20px;

 } 
 #state2{
  background-color: rgb(236, 240, 239);
  border-radius: 0px 30px 30px 0px; 
  height: 20px;

 }

 .buttonssuivi{
  background-color: rgb(241, 236, 236);
  border-top:solid 8px rgb(224, 219, 219) ;

  border-bottom:solid 8px rgb(165, 163, 163) ;
  border-left:solid 8px rgb(211, 209, 209) ;
  border-right:solid 8px rgb(184, 181, 181) ;
 }
 #size{
   height: 500px;
 }

 #small{
   font-size: xx-small;
 }